<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="templates"
		label="COM_COOLTOURAMAN_COURSE_TEMPLATES"
		description="COM_COOLTOURAMAN_TEMPLATE_SETTINGS_DESC">

		<field name="course_layout" type="componentlayout"
			label="JFIELD_ALT_LAYOUT_LABEL"
			description="JFIELD_ALT_COMPONENT_LAYOUT_DESC"
			useglobal="true"
			extension="com_cooltouraman" view="course"
		/>		
		<field
			name="show_price_base"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			label="COM_COOLTOURAMAN_FIELD_SHOW_BASE_PRICE_LABEL"
			description="COM_COOLTOURAMAN_FIELD_SHOW_BASE_PRICE_DESC">
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field
			name="show_price_promo"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			label="COM_COOLTOURAMAN_FIELD_SHOW_PROMO_PRICE_LABEL"
			description="COM_COOLTOURAMAN_FIELD_SHOW_PROMO_PRICE_DESC">
			<option	value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field name="show_promotion_message"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			label="COM_COOLTOURAMAN_FIELD_SHOW_PROMOTION_MSG_LABEL"
			description="COM_COOLTOURAMAN_FIELD_SHOW_PROMOTION_MSG_DESC"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>
		<field name="show_tutor"
			type="radio"
			class="btn-group btn-group-yesno"
			default="0"
			label="COM_COOLTOURAMAN_FIELD_SHOW_TUTOR_LABEL"
			description="COM_COOLTOURAMAN_FIELD_SHOW_TUTOR_DESC"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>
		<field name="show_tags"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			label="COM_COOLTOURAMAN_FIELD_SHOW_TAGS_LABEL"
			description="COM_COOLTOURAMAN_FIELD_SHOW_TAGS_DESC"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>
		<field name="show_where_and_when"
			type="radio"
			class="btn-group btn-group-yesno"
			default="0"
			description="COM_COOLTOURAMAN_FIELD_SHOW_WHERE_AND_WHEN_LABEL"
			label="COM_COOLTOURAMAN_FIELD_SHOW_WHERE_AND_WHEN_DESC"
			>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>
			<field name="show_related_courses"
			type="radio"
			class="btn-group btn-group-yesno"
			default="0"
			description="COM_COOLTOURAMAN_FIELD_SHOW_RELATED_COURSES_LABEL"
			label="COM_COOLTOURAMAN_FIELD_SHOW_RELATED_COURSES_DESC"
			>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>
		<field
			name="show_category"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			label="JGLOBAL_SHOW_CATEGORY_LABEL"
			description="JGLOBAL_SHOW_CATEGORY_DESC">
			<option	value="0">JHIDE</option>
			<option	value="1">JSHOW</option>
		</field>
		<field
			name="link_category"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			label="JGLOBAL_LINK_CATEGORY_LABEL"
			description="JGLOBAL_LINK_CATEGORY_DESC">
			<option	value="0">JNO</option>
			<option	value="1">JYES</option>
		</field>
		<field
			name="show_vote"
			type="radio"
			class="btn-group btn-group-yesno"
			default="0"
			label="JGLOBAL_SHOW_VOTE_LABEL"
			description="JGLOBAL_SHOW_VOTE_DESC"
		>
			<option value="0">JHIDE</option>
			<option	value="1">JSHOW</option>
		</field>
	</fieldset>
	<fieldset name="category"
		label="JCATEGORY"
		description="COM_COOLTOURAMAN_CONFIG_CATEGORY_SETTINGS_DESC"
		>

		<field
			name="category_layout" type="componentlayout"
			label="JGLOBAL_FIELD_LAYOUT_LABEL"
			description="JGLOBAL_FIELD_LAYOUT_DESC"
			menuitems="true"
			extension="com_content"
			view="category"
		/>
		<field
			name="show_category_heading_title_text"
			type="radio"
			class="btn-group btn-group-yesno"
 			label="JGLOBAL_SHOW_CATEGORY_HEADING_TITLE_TEXT_LABEL"
			description="JGLOBAL_SHOW_CATEGORY_HEADING_TITLE_TEXT_DESC"
			default="1">
				<option value="1">JSHOW</option>
				<option value="0">JHIDE</option>
		</field>
		<field name="show_category_title"
			type="radio"
			class="btn-group btn-group-yesno"
			label="JGLOBAL_SHOW_CATEGORY_TITLE"
			description="JGLOBAL_SHOW_CATEGORY_TITLE_DESC"
			default="1"
			>
				<option value="1">JSHOW</option>
				<option value="0">JHIDE</option>
		</field>

		<field name="show_description"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			label="JGLOBAL_SHOW_CATEGORY_DESCRIPTION_LABEL"
			description="JGLOBAL_SHOW_CATEGORY_DESCRIPTION_DESC">
				<option value="1">JSHOW</option>
				<option value="0">JHIDE</option>
		</field>

		<field name="show_description_image"
			type="radio"
			class="btn-group btn-group-yesno"
			default="0"
			label="JGLOBAL_SHOW_CATEGORY_IMAGE_LABEL"
			description="JGLOBAL_SHOW_CATEGORY_IMAGE_DESC">
				<option value="1">JSHOW</option>
				<option value="0">JHIDE</option>
		</field>

		<field name="maxLevel" type="list"
			description="JGLOBAL_MAXIMUM_CATEGORY_LEVELS_DESC"
			label="JGLOBAL_MAXIMUM_CATEGORY_LEVELS_LABEL"
			default="-1"
		>
			<option value="0">JNONE</option>
			<option value="-1">JALL</option>
			<option value="1">J1</option>
			<option value="2">J2</option>
			<option value="3">J3</option>
			<option value="4">J4</option>
			<option value="5">J5</option>
		</field>

		<field name="show_empty_categories"
			type="radio"
			class="btn-group btn-group-yesno"
			label="JGLOBAL_SHOW_EMPTY_CATEGORIES_LABEL"
			description="COM_CONTENT_SHOW_EMPTY_CATEGORIES_DESC"
			default="0"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field name="show_no_articles"
			type="radio"
			class="btn-group btn-group-yesno"
			label="COM_COOLTOURAMAN_NO_ITEMS_LABEL"
			description="COM_COOLTOURAMAN_NO_ITEMS_DESC"
			default="1"
			>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field name="show_subcat_desc"
			type="radio"
			class="btn-group btn-group-yesno"
			label="JGLOBAL_SHOW_SUBCATEGORIES_DESCRIPTION_LABEL"
			description="JGLOBAL_SHOW_SUBCATEGORIES_DESCRIPTION_DESC"
			default="1"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field name="show_cat_num_items"
			type="radio"
			class="btn-group btn-group-yesno"
			label="COM_COOLTOURAMAN_NUMBER_CATEGORY_ITEMS_LABEL"
			description="COM_COOLTOURAMAN_NUMBER_CATEGORY_ITEMS_DESC"
			default="1"
			>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field name="show_cat_tags" type="radio"
			label="COM_COOLTOURAMAN_FIELD_SHOW_CAT_TAGS_LABEL"
			description="COM_COOLTOURAMAN_FIELD_SHOW_CAT_TAGS_DESC"
			class="btn-group btn-group-yesno"
			default="1"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

	</fieldset>
	<fieldset name="categories"
		label="JCATEGORIES"
		description="COM_COOLTOURAMAN_CONFIG_CATEGORIES_SETTINGS_DESC"
		>
		<field name="show_base_description"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			label="JGLOBAL_FIELD_SHOW_BASE_DESCRIPTION_LABEL"
			description="JGLOBAL_FIELD_SHOW_BASE_DESCRIPTION_DESC"
			>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field name="maxLevelcat" type="list"
			default="-1"
			description="JGLOBAL_MAXIMUM_CATEGORY_LEVELS_DESC"
			label="JGLOBAL_MAXIMUM_CATEGORY_LEVELS_LABEL"
		>
			<option value="-1">JALL</option>
			<option value="1">J1</option>
			<option value="2">J2</option>
			<option value="3">J3</option>
			<option value="4">J4</option>
			<option value="5">J5</option>
		</field>

		<field name="show_empty_categories_cat"
			type="radio"
			class="btn-group btn-group-yesno"
			default="0"
			label="JGLOBAL_SHOW_EMPTY_CATEGORIES_LABEL"
			description="COM_CONTENT_SHOW_EMPTY_CATEGORIES_DESC"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field name="show_subcat_desc_cat"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			label="JGLOBAL_SHOW_SUBCATEGORIES_DESCRIPTION_LABEL"
			description="JGLOBAL_SHOW_SUBCATEGORIES_DESCRIPTION_DESC"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field name="show_cat_num_articles_cat"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			label="COM_COOLTOURAMAN_NUMBER_CATEGORY_ITEMS_LABEL"
			description="COM_COOLTOURAMAN_NUMBER_CATEGORY_ITEMS_DESC"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

	</fieldset>
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			validate="rules"
			filter="rules"
			component="com_content"
			section="component" />
	</fieldset>
</config>